asgiref==3.11.0
boto3==1.42.10
botocore==1.42.10
cfgv==3.5.0
distlib==0.4.0
Django==4.2.5
django-ckeditor==6.7.0
django-htmx==1.27.0
django-js-asset==2.1.0
django-mptt==0.14.0
django-storages==1.14.6
django-taggit==4.0.0
django-user-visit==1.1
djangorestframework==3.14.0
filelock==3.20.1
gunicorn==23.0.0
identify==2.6.15
jmespath==1.0.1
nodeenv==1.9.1
packaging==25.0
pillow==12.0.0
platformdirs==4.5.1
pre_commit==4.5.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.3
s3transfer==0.16.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.4
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.6.2
user-agents==2.2.0
virtualenv==20.35.4
wheel==0.45.1
