{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-conten padding-y bg">
     {% include 'includes/alerts.html' %}
     <div class="container">
          <div class="row mt-2">

               {% include 'includes/dashboard_sidebar.html' %}
               <main class="col-md-9">
                    <article class="card">
                         <header class="card-header">
                              <strong class="d-inline-block mr-3">

                                   {% if '/create-user-profile/' in request.path %}
                                   Create
                                   {% else %}
                                   Edit
                                   {% endif %}

                                   your profile</strong>

                         </header>
                         <div class="card-body">

                              <div class="text-right">
                                   {% if request.user.userprofile.profile_picture %}
                                   <img src="{{request.user.userprofile.profile_picture.url}}" alt="Profile Picture" width="100"
                                        height="100" style="border-radius:50%;">
                                   {% else %}
                                   <img src="{% static 'images/man.png' %}" alt="Profile Picture" width="100"
                                        height="100" style="border-radius:50%;">
                                   {% endif %}
                              </div>
                              <div class="row ">
                                   <div class="col-md-12">

                                        {% comment %} <form action="{% url 'createUserProfile' %}" method="POST"
                                             enctype="multipart/form-data">
                                             {% csrf_token %}
                                             {{profile_form.as_p}}
                                             <input type="submit" value="Save" class=" mt-2 btn btn-primary">

                                             <form> {% endcomment %}

                                                  {% if '/update-user-profile/' in request.path %}

                                                  <form action="{% url 'updateUserPeofile' %}" method="POST"
                                                       enctype="multipart/form-data">
                                                       {% else %}
                                                       <form action="{% url 'createUserProfile' %}" method="POST"
                                                            enctype="multipart/form-data">
                                                            {% endif %}

                                                            {% csrf_token %}
                                                            <div class="row p-1">
                                                                 <div class="col-md-6">
                                                                      <label>First Name</label>
                                                                      {{profile_form.first_name}}
                                                                 </div>
                                                                 <div class="col-md-6">
                                                                      <label>Last Name</label>
                                                                      {{profile_form.last_name}}
                                                                 </div>
                                                            </div>
                                                            <div class="row p-1">
                                                                 <div class="col-md-6">
                                                                      <label>Father Name</label>
                                                                      {{profile_form.father_name}}
                                                                 </div>
                                                                 <div class="col-md-6">
                                                                      <label>Mother Name</label>
                                                                      {{profile_form.mother_name}}
                                                                 </div>
                                                            </div>

                                                            <div class="row p-1">
                                                                 <div class="col-md-6">
                                                                      <label>Phone Number</label>
                                                                      {{profile_form.phone_number}}
                                                                 </div>
                                                                 <div class="col-md-6">
                                                                      <label>Profile Picture</label>
                                                                      {{profile_form.profile_picture}}
                                                                 </div>
                                                            </div>
                                                            <div class="row p-1">
                                                                 <div class="col-md-6">
                                                                      <label>Occupation</label>
                                                                      {{profile_form.occupation}}
                                                                 </div>
                                                                 <div class="col-md-6">
                                                                      <label>Birthdate</label>
                                                                      {{profile_form.birth_date}}
                                                                 </div>

                                                            </div>
                                                            <div class="row p-1">
                                                                 <div class="col-md-6">
                                                                      <label>Nid No</label>
                                                                      {{profile_form.nid_no}}
                                                                 </div>
                                                                 <div class="col-md-6">
                                                                      <label>Nid image</label>
                                                                      {{profile_form.nid_image}}
                                                                 </div>

                                                            </div>
                                                            <div class="row p-1">
                                                                 <div class="col-md-6">
                                                                      <label>Website</label>
                                                                      {{profile_form.website}}
                                                                 </div>
                                                                 <div class="col-md-6">
                                                                      <label>Linkedin</label>
                                                                      {{profile_form.linkedin}}
                                                                 </div>
                                                            </div>
                                                            <div class="row p-1">
                                                                 <label>About</label>

                                                                 <div class="col">
                                                                      {{profile_form.about}}
                                                                 </div>
                                                            </div>
                                                            <div class="row p-1">
                                                                 <div class="col-md-6">
                                                                      <label>Present Addresss</label>
                                                                      {{profile_form.present_address}}
                                                                 </div>
                                                                 <div class="col">
                                                                      <label>Permanent Address</label>
                                                                      {{profile_form.permanent_address}}
                                                                 </div>
                                                            </div>

                                                            <div class="row p-1">
                                                                 <div class="col-md-6">
                                                                      <label>Gender</label>
                                                                      {{profile_form.gender}}
                                                                 </div>
                                                                 <div class=" col-md-6">
                                                                      <label>Marital status</label>
                                                                      {{profile_form.marital_status}}
                                                                 </div>

                                                            </div>
                                                            <div class="row p-1">
                                                                 <div class=" col-md-6">
                                                                      <label>Religion</label>
                                                                      {{profile_form.religion}}
                                                                 </div>
                                                                 <div class=" col-md-6">
                                                                      <label>Nationality</label>
                                                                      {{profile_form.nationality}}
                                                                 </div>
                                                            </div>

                                                            {% if '/create-user-profile/' in request.path %}

                                                            <div class="row p-1">
                                                                 <div class=" col">
                                                                      <label>Role</label>
                                                                      <h6 class="text-info" >It will not change,so be carefull.</h6>
                                                                      {{profile_form.role}}
                                                                 </div>

                                                            </div>
                                                            {% endif %}


                                                            <input type="submit" value="Save"
                                                                 class=" mt-2 btn btn-primary">
                                                       </form>
                                   </div>

                              </div> <!-- row.// -->
                         </div> <!-- card-body .// -->

                    </article> <!-- order-group.// -->
               </main>
          </div> <!-- row.// -->
     </div>


</section>

{% endblock %}