{% extends 'base.html' %}
{% load static %}

{% block title %}
All Applicant
{% endblock title %}

{% block content %}



<section class="section-conten padding-y bg">
     {% include 'includes/alerts.html' %}
     <div class="container">
          <div class="row mt-2">

               {% include 'includes/dashboard_sidebar.html' %}
               <main class="col-md-9">
                    <article class="card">
                         <header class="card-header">
                              <strong class="d-inline-block mr-3">
                                   All Applicant:{{job}} {{request.user.userprofile.notifications}}
                              </strong>

                         </header>
                         <div class="card-body">

                              <h2>
                                   <b>
                                        All Applicants
                                   </b>
                              </h2>

                              <ol>
                                   {% for appliocant in job.application_set.all %}
                                   <h4>
                                        <li>
                                             <a href="{% url 'viewApplication' appliocant.id %}">
                                                  {{appliocant.user.get_full_name}}
                                             </a>
                                        </li>
                                   </h4>
                                   {% endfor %}
                              </ol>


                    </article> <!-- order-group.// -->
               </main>
          </div> <!-- row.// -->
     </div>
</section>


{% endblock %}