{% extends "base.html" %}
{% block content %}
<div class="container">
     <h2 class="title">Contact Us</h2>
     <form action="{% url 'contactUs' %}" method="POST">
          {% csrf_token %}
          <div class="field">
               <label class="label">Name</label>
               <div class="control">
                    <input class="input" type="text" name='name' placeholder="Enter your name">
               </div>
          </div>
          <div class="field">
               <label class="label">Email</label>
               <div class="control">
                    <input class="input" type="email" name='email' placeholder="Enter your email">
               </div>
          </div>
          <div class="field">
               <label class="label">Message</label>
               <div class="control">
                    <textarea class="textarea" name='message' placeholder="Enter your message"></textarea>
               </div>
          </div>
          <div class="field">
               <div class="control">
                    <button class="button is-primary">Submit</button>
               </div>
          </div>
     </form>

</div>

{% endblock content %}