
a{
     text-decoration: none;
}
/* Global Styles */
/* Global Styles */
body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
}

.container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px;
}

/* Header Styles */
header {
     background-color: #333;
     color: #fff;
     padding: 20px;
}

h1 {
     margin: 0;
}

/* Hero Section Styles */
.hero-section {
     background-image: url("https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
     background-size: cover;
     background-position: center;
     color: #fff;
     padding: 100px 0;
     text-align: center;
     /* background-image: url('hero-section-01.jpg'); */
     display: flex;
     justify-content: center;
     align-items: center;
     height: 95vh;
}

 .how-it-works-img {
      height: 600px;
      position: absolute;
      right: 0;
      top: 0;
 }
.hero-section h2 {
     font-size: 36px;
     margin-bottom: 20px;
}

.hero-section p {
     font-size: 18px;
}

/* How It Works Section Styles */
/* .how-it-works-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 50px 0;
} */
.top-categories-rows{
     display: flex;
     justify-content: center;
     transition: transform 2s ease-in-out;
}

.step {
     text-align: center;
}
.image {
     width: 350px;
     height: 350px;
     overflow: hidden;
}

.step-icon img {
     width: 350px;
     height: 350px;
     overflow: hidden;
     transition: all 2s ease-in-out;
}
.step-icon:hover img {
     transform: scale(1.2);
     cursor: pointer;
}

.step-icon-search-job-image {
     width: 450px;
     height: 350px;
     overflow: hidden;
}
.step-icon-search-job img {
     width: 450px;
     height: 350px;
     overflow: hidden;
     transition: all 2s ease-in-out;
}

.step-icon-search-job:hover img {
     transform: scale(1.2);
     cursor: pointer;
}
.step-details h3 {
     font-size: 24px;
     margin-bottom: 10px;
}

.step-details p {
     font-size: 16px;
}

/* Companies Section Styles */
.companies-container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 20px;
     margin-bottom: 50px;
}

.company {
     text-align: center;
}

.company img {
     width: 200px;
     height: auto;
     margin-bottom: 10px;
}

.company p {
     font-size: 16px;
     margin-bottom: 10px;
}

.company a {
     color: #333;
     text-decoration: none;
}

/* Contact Us Section Styles */
.contact-us-container {
     text-align: center;
}

.contact-us-container h2 {
     margin-bottom: 20px;
}

.contact-us-container input,
.contact-us-container textarea {
     width: 100%;
     padding: 10px;
     margin-bottom: 10px;
}

.contact-us-container button {
     padding: 10px 20px;
     background-color: #333;
     color: #fff;
     border: none;
     cursor: pointer;
}

/* Footer Styles */
footer {
     background-color: #333;
     color: #fff;
     padding: 20px;
     text-align: center;
}

.footer-links {
     list-style: none;
     padding: 0;
     margin: 0;
}

.footer-links li {
     display: inline-block;
     margin-right: 10px;
}

.footer-links a {
     color: #fff;
     text-decoration: none;
}

.find-talent {
     height: 600px;
}

.card-content-main {
     transition: transform 0.5s ease-in-out;
}
.card-content-main:hover {
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     transform: scale(1.1);
}
.top-categories {


}
 .custome-button {
      --b: 3px;
      /* border thickness */
      --s: .15em;
      /* size of the corner */
      --c: #BD5532;

      padding: calc(.05em + var(--s)) calc(.3em + var(--s));
      color: var(--c);
      --_p: var(--s);
      background:
           conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--c) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
      transition: .3s linear, color 0s, background-color 0s;
      outline: var(--b) solid #0000;
      outline-offset: .2em;
 }

 .custome-button:hover,
 .custome-button:focus-visible {
      --_p: 0px;
      outline-color: var(--c);
      outline-offset: .05em;
 }

 .custome-button:active {
      background: var(--c);
      color: #fff;
 }


 .custome-button {
      font-family: system-ui, sans-serif;
      font-weight: bold;
      font-size: 4rem;
      cursor: pointer;
      border: none;
      margin: .1em;
 }
/* 
.card {
     width: 300px;
     border-radius: 10px;
     background-color: #fff;
     overflow: hidden;
     transition: box-shadow 0.3s;
}

.card:hover {
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.card-content {
     padding: 20px;
}

.card-title {
     font-size: 24px;
     margin-bottom: 10px;
}

.card-description {
     font-size: 14px;
     color: #888;
     margin-bottom: 20px;
}

.cat-icons {
     width: 80px;
     height: 80px;
     background: #fff;
     border-radius: 50px;
     display: inline-block;
     position: relative;
     margin-bottom: 31px;
     line-height: 80px;
     text-align: center;
     box-shadow: 0px 15px 60px rgba(54, 127, 255, 0.1);
} */
.cat-icons {
     width: 80px;
     height: 80px;
     background: #fff;
     border-radius: 50px;
     display: inline-block;
     position: relative;
     margin-bottom: 31px;
     line-height: 80px;
     text-align: center;
     box-shadow: 0px 15px 60px rgba(44, 100, 195, 0.1);
}
.moving-element {
     position: relative;
     width: 100px;
     height: 100px;
     background-color: #ffcc00;
     transition: left 0.5s ease;
}

.moving-element:hover {
     left: 200px;
}

.moving-element {
     position: relative;
     width: 100px;
     height: 100px;
     background-color: #ffcc00;
     transition: transform 0.5s ease;
}

.moving-element:hover {
     transform: translateX(200px);
}

.custom-prev-btn {
     background-color: black;
     color: black;
     font-size: 24px;
}
/* h2 {
     color: #333;
     text-align: center;
     text-transform: uppercase;
     font-family: "Roboto", sans-serif;
     font-weight: bold;
     position: relative;
     margin: 25px 0 50px;
}

h2::after {
     content: "";
     width: 100px;
     position: absolute;
     margin: 0 auto;
     height: 3px;
     background: #ffdc12;
     left: 0;
     right: 0;
     bottom: -10px;
} */

.carousel {
     width: 650px;
     margin: 0 auto;
     padding-bottom: 50px;
}

.carousel .carousel-item {
     color: #999;
     font-size: 14px;
     text-align: center;
     overflow: hidden;
     min-height: 340px;
}

.carousel .carousel-item a {
     color: #eb7245;
}

.carousel .img-box {
     width: 145px;
     height: 145px;
     margin: 0 auto;
     border-radius: 50%;
}

.carousel .img-box img {
     width: 100%;
     height: 100%;
     display: block;
     border-radius: 50%;
}

.carousel .testimonial {
     padding: 30px 0 10px;
}

.carousel .overview {
     text-align: center;
     padding-bottom: 5px;
}

.carousel .overview b {
     color: #333;
     font-size: 15px;
     text-transform: uppercase;
     display: block;
     padding-bottom: 5px;
}

.carousel .star-rating i {
     font-size: 18px;
     color: #ffdc12;
}

.carousel-control-prev,
.carousel-control-next {
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background: #999;
     text-shadow: none;
     top: 4px;
}

.carousel-control-prev i,
.carousel-control-next i {
     font-size: 20px;
     margin-right: 2px;
}

.carousel-control-prev {
     left: auto;
     right: 40px;
}

.carousel-control-next i {
     margin-right: -2px;
}

.carousel .carousel-indicators {
     bottom: 15px;
}

.carousel-indicators li,
.carousel-indicators li.active {
     width: 11px;
     height: 11px;
     margin: 1px 5px;
     border-radius: 50%;
}

.carousel-indicators li {
     background: #e2e2e2;
     border: none;
}

.carousel-indicators li.active {
     background: #888;
}

/* profile  */




.card-img-top {
     height: 300px;
}

.card-no-border .card {
     border-color: #d7dfe3;
     border-radius: 4px;
     margin-bottom: 30px;
     -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
     box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
     -ms-flex: 1 1 auto;
     flex: 1 1 auto;
     padding: 1.25rem
}

.pro-img {
     margin-top: -80px;
     margin-bottom: 20px
}

.little-profile .pro-img img {
     width: 128px;
     height: 128px;
     -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
     border-radius: 100%
}
